In [ ]:
# reading a file pandas

df=pd.read_csv('autos.csv', header=0, encoding = 'ISO-8859-1',index_col=1)

# reading without pandas
import csv
datax=[]
with open('Data.csv','r') as csvFile:
    reader = csv.reader(csvFile)
    datax=list(reader)

MAKE A PALINDROME

In [1]:
def isPalindrome(string):
        left,right=iter(string),iter(string[::-1])
        i=0
        while i<len(string)/2:
            if next(left)!=next(right):
                return False
            i+=1
            return True
isPalindrome('redrum murder')

True

In [2]:
isPalindrome('redrum mur')

True

In [66]:
# recursion, define a factorial

def fact_rec(n):
    if n==1:
        return 1
    return n*fact_rec(n-1)

fact_rec(4)

24

### *args and **kwargs?

args: we don’t know how many arguments will be passed to a function
>>> def func(*args):
   for i in args:
       print(i)
>>> func(3,2,1,4,7)
out 3 2 1 4 7

kwargs: keyword arguments when we don’t know how many
>>> def func(**kwargs):
   for i in kwargs:
       print(i,kwargs[i])
>>> func(a=1,b=2,c=7)
out a.1 b.2 c.7

### df.apply() method

In [ ]:
# df.apply(function)

zip

In [37]:
# result is a tuple
# if one is short, result is for the shortest iterable
# reverse zip operation

tuplist=[('kaan', 'short'),('ali', 'tall')]
result=zip(*tuplist)
print(result)

# to create a dictionary

keys=[ 1,2, 3,4]

values=[ 5,6 ,7,8]
dictnew=dict(zip(keys,values))
dictnew

<zip object at 0x10553ad48>

{1: 5, 2: 6, 3: 7, 4: 8}

In [45]:
import pandas as pd
dfnew=pd.DataFrame(dictnew, index=dictnew.values())
dfnew

   1  2  3  4
5  5  6  7  8
6  5  6  7  8
7  5  6  7  8
8  5  6  7  8

In [3]:
def func(**kwargs):
    for i in kwargs:
        print(i,kwargs[i])

func(a=1,b=2,c=7)

a 1
b 2
c 7

In [4]:
def func(*args):
    for i in args:
        print(i)

func('a','b','c')

a
b
c

In [28]:
# list comprehension the length of each lowercase word

text1='sdrg LKJLKJ lklkjl LKLKJ LKL lklkjl'
list2=[len(x) for x in text1.split() if x.islower()] 
list2
# listl=list(x in x for text1 if text1.split()))

[4, 6, 6]

iterate through multiple loops

In [32]:
# find the all possible pairs, result will be list of tuples

numbers=[1,2,3]
letters=['q','w','e']
pairs=[(i,j) for i in numbers for j in letters]
pairs

[(1, 'q'),
 (1, 'w'),
 (1, 'e'),
 (2, 'q'),
 (2, 'w'),
 (2, 'e'),
 (3, 'q'),
 (3, 'w'),
 (3, 'e')]

### convert a list to a string

In [5]:
# use join.() method

list1=['a','b','c']
lstring='-'.join(list1)
print(lstring)

a-b-c

### convert a list into a tuple

 use tuple() function

Generator , has a yield keyword in it

### How to count the occurrences of a particular element in the list?

In [6]:
# use count() function, how many mon's in this list
weekdays = ['sun','mon','tue','mon','wed','dun','sat']
print(weekdays.count('mon'))

2

In [7]:
# find each occurence at once with a list comprehension
newl=[[x,weekdays.count(x)] for x in weekdays]
print(newl)

[['sun', 1], ['mon', 2], ['tue', 1], ['mon', 2], ['wed', 1], ['dun', 1], ['sat', 1]]

### Using enumerate

The Python enumerate() function adds a counter to an iterable object. enumerate() function can accept sequential indexes starting from zero.

In [8]:
# lets find the index numbers of this tuple
subjects = ('Python', 'Interview', 'Questions')

In [9]:
for i, x in enumerate(subjects):
    print(i,x)

0 Python
1 Interview
2 Questions

In [15]:
listx=['a','b','c']
list(enumerate(listx))

[(0, 'a'), (1, 'b'), (2, 'c')]

### Concatenate strings

In [10]:
# use + 

print('kagan' + 'ilter')

kaganilter

In [11]:
# concat() is used for dataframes panda
# pd.concat([df1,df2])

### print sum of the numbers starting from 1 to 100?

In [12]:
print(sum(range(1,101)))

5050

### program to find the average of numbers in a list in Python?

In [4]:
n=int(input('how many numbers will be in the list'))
a=[]
for i in range (0,n):
    elem=int(input('enter element: '))
    a.append(elem)
    avg=sum(a)/n
print('avg of the list', avg)

how many numbers will be in the list4
enter element: 1
enter element: 4
enter element: 5
enter element: 6
avg of the list 4.0

#### a program to reverse a number in Python?

In [8]:
n=int(input('enter a number'))
reverse=0
while (n>0):
    digit=n%10
    reverse=reverse*10+digit
    n=n//10
print('reverse:', reverse)

enter a number234
reverse: 432

### find sum of the digits of a number in Python?

In [9]:
n=int(input('enter a number'))
total=0
while n>0:
    digit=n%10
    total=total+digit
    n=n//10
print(total)

enter a number456
15

### Number palindrome

In [23]:
n=int(input('enter a number'))
temp=n
rev=0
while n>0:
    digit=n%10
    rev=rev*10+digit
    n=n//10
if(temp==rev):
    print('palindrome')
else:
    print('not palindrome')

enter a number454
palindrome

### Write a Python Program to Count the Number of Digits in a Number?

In [25]:
n=int(input('enter a number'))
count=0
while(n>0):
    count=count+1
    n=n//10
print('The number of digits in the number are:',count)

enter a number345
The number of digits in the number are: 3

### Print Table of a Given Number

In [26]:
n=int(input('enter a number between 1-10'))
for i in range(1,11):
    print(n,'x',i,'=',n*i)

enter a number between 1-106
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

### Check if a Number is a Prime Number

In [30]:
a=int(input('Enter number: '))
k=0
for i in range(2,a//2+1):
    if(a%i==0):
        k=k+1
if(k<=0):
    print('Number is prime')
else:
    print('Number isn’t prime')

Enter number: 56
Number isn’t prime

### armstrong number

In [32]:
n=int(input('Enter any number: '))
a=list(map(int,str(n)))
b=list(map(lambda x:x**3,a))
if(sum(b)==n):
    print('The number is an armstrong number.')
else:
    print('The number isn’t an arsmtrong number.')

Enter any number: 153
The number is an armstrong number.

### Check if a Number is a Perfect Number

In [41]:
n = int(input('Enter any number: '))
sum1 = 0
for i in range(1, n):
    if(n % i == 0):
        sum1 = sum1 + i
if (sum1 == n):
    print('The number is a Perfect number!')
else:
    print('The number is not a Perfect number!')

Enter any number: 567
The number is not a Perfect number!

### Write a Python Program to Swap the First and Last Value of a List?

In [45]:
a=[]
n= int(input('Enter the number of elements in list:'))
for x in range(0,n):
    element=int(input('Enter element' + str(x+1) + ':'))
    a.append(element)
temp=a[0]
a[0]=a[n-1]
a[n-1]=temp
print('New list is:')
print(a)

Enter the number of elements in list:4
Enter element1:2
Enter element2:3
Enter element3:4
Enter element4:5
New list is:
[5, 3, 4, 2]

### Count the Number of Vowels in a String?

In [47]:
string=input('Enter string:')
string=string.lower()
vowels=0
for i in string:
    if(i=='a' or i=='e' or i=='i' or i=='o' or i=='u'):
        vowels=vowels+1
print('Number of vowels are:')
print(vowels)

Enter string:BABakagan
Number of vowels are:
4

### Check Common Letters in Two Input Strings

In [51]:
s1=input('Enter first string:')
s2=input('Enter second string:')
a=list(set(s1) and set(s2))
print('The common letters are:')
for i in a:
    print(i)

Enter first string:kagan
Enter second string:ilter
The common letters are:
e
l
t
r
i

filter numbers from a list divisible by 3 and 5

In [59]:
a=[x for x in range (0,50)]
divisibles=filter(lambda x: x%3!=0 and x%5!=0,a)
print(list(divisibles))

[1, 2, 4, 7, 8, 11, 13, 14, 16, 17, 19, 22, 23, 26, 28, 29, 31, 32, 34, 37, 38, 41, 43, 44, 46, 47, 49]

In [63]:
# filter the vowels in a string
string1='hello my name is KAGAN'
vowels='AEIOUaeiou'
nonvowel=filter(lambda x: x not in vowels,string1)
print(''.join(nonvowel))

hll my nm s KGN

Reduce, has 2 arguments
write string reverse

In [65]:
import functools
string12='hello my name is KAGAN'
reverse= functools.reduce(lambda x,y:y+x, string12)
print(reverse)

NAGAK si eman ym olleh

### Create a class named Person, use the __init__() function to assign values for name and age:

In [54]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

John
36

### OrderedDictionary

In [62]:
import collections
from collections import OrderedDict

In [63]:
d=collections.OrderedDict()
d['a']='A'
d['b']='B'
d['c']='C'

for i,j in d.items():
    print (i,j)

a A
b B
c C

### find a duplicate in a string

In [66]:
duplicate=[]
first_time=[]

a = 'Hello world'

for i in a:
    if i not in first_time:
        first_time.append(i)
    else:
        duplicate.append(i)

','.join(duplicate)

'l,o,l'

### anagrams

In [68]:
a='godar'
b='rodag'
l1 = sorted(list(a))
l2 = sorted(list(b))
if l1 == l2:
    print ("anagram")
else:
    print('no')

anagram

In [3]:
dct = {}

for x in data1[1:]:
    dct[x[0]] = dct.get(x[0], 0) + 1

print(dct)

{'10030': 2, '10250': 1, '10510': 1}

In [8]:
word_list = 'StRing ObJeCts haVe mANy inTEResting pROPerTies'
b=word_list.split()
i=0
for j in b:
    if i%2==1:
        b[i]=b[i].upper()
    else:
        b[i]=b[i].lower()
    i+=1
b

['string', 'OBJECTS', 'have', 'MANY', 'interesting', 'PROPERTIES']

In [9]:
b=str(b)
b

"['string', 'OBJECTS', 'have', 'MANY', 'interesting', 'PROPERTIES']"

In [10]:
type(b)

str

iterate dictionary key and values

In [14]:
dict1={'a':1,'b':2,'c':3}
for item in dict1.items():
    print(item)

('a', 1)
('b', 2)
('c', 3)

In [ ]:
#  //* enroll_code,student_id
# 10030,55000
# 10030,55804
# 10250,55804
# 10510,55000
# #1. USe pandas to read the csv file, Data.csv; Processing -> Count # students per subject, 
# # Sample output below
# 10030 : 2
# 10250 :1
# 10510 :1

# import pandas as pandas
# df.read_csv('data.csv')
# df.groupby('enroll_code').student_id.count()


# # #2. USe base Python only to read the csv file, Data.csv; Processing -> Count # students per subject, 

# import csv
# data=[]
# with open('Data.csv','r') as csvFile:
#     reader = csv.reader(csvFile)
#     data=list(reader)


# lst = [[10030,55000],[10030,55804],[],[]]
# for i,j in enumerate(lst):
#   print(i,j) # 1 [10030, 55000]
#               # 2 [10030, 55804] 
# lst1=[]
# dct=dict()
# a=0
# for i  in lst:
#   if i[0] not in list1:
#     list1.append(i[0])
#     a=0
#   a=a+1
#   dct[i[0]=a
 
# # SQL, table in DB
#  SELECT enroll_code, COUNT(DISTINCT(student_id))
#  FROM Data
#  GROUP BY enroll_code
#  2
#  1
#  1
# SELECT enroll_code, COUNT(DISTINCT(student_id))
# FROM data

# WHERE enroll_code=10030 
# LIMIT 1 OFFSET 8

# 10030 2
# 10030 2 

 //* enroll_code,student_id
10030,55000
10030,55804
10250,55804
10510,55000
#1. USe pandas to read the csv file, Data.csv; Processing -> Count # students per subject, 
# Sample output below
10030 : 2
10250 :1
10510 :1

import pandas as pandas
df.read_csv('data.csv')
df.groupby('enroll_code').student_id.count()


#2. USe base Python only to read the csv file, Data.csv; Processing -> Count # students per subject, 

import csv
with open ('data.csv') as csv

len(set(student_id))


lst = [[10030,55000],[10030,55804],[],[]]
for i,j in enumerate(lst):
  print(i,j) # 1 [10030, 55000]
              # 2 [10030, 55804] 
lst1=[]
lst2=[]
dct=dict()
a=0
for i  in lst:
  if i[0] not in list1:
    list1.append(i[0])
    a=0
  a=a+1
  dct[i[0]=a
 


# SQL, table in DB

SELECT enroll_code, COUNT(student_id)
FROM data
GROUP BY enroll_code


SELECT enroll_code, COUNT(student_id)
FROM data
WHERE enroll_code=10030
LIMIT 1


SELECT enroll_code, COUNT(student_id) as cnt
FROM data
GROUP BY enroll_code
HAVING cnt > 1 





import csv
data1=[]
with open ('data.csv',r) as csv1:
  reading=csv.reader(csv1)
  data1=list(reading)
  
resultdict={}
for item in data1[1:]:
  if item[0] not in resultdict:
    resultdict[item[0]]=1
  else:
    resultdict[item[0]]+=1
resultdict

In [46]:
data=[['enroll_code', 'student_id'], ['10030', '55000'], ['10030', '55804'], ['10250', '55804'], ['10510', '55000']]
result = {}
for item in data[1:]:
    if item[0] not in result :
        result [item[0]] = 1
    else:
        result [item[0]] += 1
result

{'10030': 2, '10250': 1, '10510': 1}

### enumerate the number of letters in a given string in a dictionary

In [16]:
def retrieve_character_indices(string):
    character_indices = dict()
    # Define the 'for' loop
    for index, character in enumerate(string):
        # Update the dictionary if the key already exists
        if character in character_indices:
            character_indices[character].append(index)
        # Update the dictionary if the key is absent
        else:
            character_indices[character] = [index]
            
    return character_indices
  
print(retrieve_character_indices('enumerate an Iterable'))

{'e': [0, 4, 8, 15, 20], 'n': [1, 11], 'u': [2], 'm': [3], 'r': [5, 16], 'a': [6, 10, 17], 't': [7, 14], ' ': [9, 12], 'I': [13], 'b': [18], 'l': [19]}

update a dicitonary

In [17]:
dict1={1:'1',2:'2'}
dict1.update({3:'3'})
dict1

{1: '1', 2: '2', 3: '3'}

In [20]:
dict1.update(newkey1='a')
dict1

{1: '1', 2: '2', 3: '3', 'newkey1': 'a'}

traverse in a dataframe result in a dictionary

In [ ]:
column_counts = dict()

# Traverse through the columns in the heroes DataFrame
for column_name, series in heroes.iteritems():
    # Retrieve the values stored in series in a list form
    values = list(series)
    category_counts = dict()  
    # Traverse through unique categories in values
    for category in set(values):
        # Count the appearance of category in values
        category_counts[category] = values.count(category)
    
    column_counts[column_name] = category_counts
    
print(column_counts)