# Examining Racial Discrimination in the US Job Market

### Background
Racial discrimination continues to be pervasive in cultures throughout the world. Researchers examined the level of racial discrimination in the United States labor market by randomly assigning identical résumés to black-sounding or white-sounding names and observing the impact on requests for interviews from employers.

### Data
In the dataset provided, each row represents a resume. The 'race' column has two values, 'b' and 'w', indicating black-sounding and white-sounding. The column 'call' has two values, 1 and 0, indicating whether the resume received a call from employers or not.

Note that the 'b' and 'w' values in race are assigned randomly to the resumes when presented to the employer.

### Exercises
You will perform a statistical analysis to establish whether race has a significant impact on the rate of callbacks for resumes.

Answer the following questions **in this notebook below and submit to your Github account**. 

   1. What test is appropriate for this problem? Does CLT apply?
   2. What are the null and alternate hypotheses?
   3. Compute margin of error, confidence interval, and p-value. Try using both the bootstrapping and the frequentist statistical approaches.
   4. Write a story describing the statistical significance in the context or the original problem.
   5. Does your analysis mean that race/name is the most important factor in callback success? Why or why not? If not, how would you amend your analysis?

You can include written notes in notebook cells using Markdown: 
   - In the control panel at the top, choose Cell > Cell Type > Markdown
   - Markdown syntax: http://nestacms.com/docs/creating-content/markdown-cheat-sheet

#### Resources
+ Experiment information and data source: http://www.povertyactionlab.org/evaluation/discrimination-job-market-united-states
+ Scipy statistical methods: http://docs.scipy.org/doc/scipy/reference/stats.html 
+ Markdown syntax: http://nestacms.com/docs/creating-content/markdown-cheat-sheet
+ Formulas for the Bernoulli distribution: https://en.wikipedia.org/wiki/Bernoulli_distribution

In [1]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from scipy.stats import norm
import scipy.stats
import math

In [2]:
data = pd.io.stata.read_stata('us_job_market_discrimination.dta')

In [3]:
# number of callbacks for black-sounding names
sum(data[data.race=='w'].call)

235.0

In [4]:
data.head()

,id,ad,education,ofjobs,yearsexp,honors,volunteer,military,empholes,occupspecific,...,compreq,orgreq,manuf,transcom,bankreal,trade,busservice,othservice,missind,ownership
0,b,1,4,2,6,0,0,0,1,17,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,
1,b,1,3,3,6,0,1,1,0,316,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,
2,b,1,4,1,6,0,0,0,0,19,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,
3,b,1,3,4,6,0,1,0,1,313,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,
4,b,1,3,3,22,0,0,0,0,313,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,Nonprofit

## Question 1 - What test is appropriate for this problem? Does CLT apply?¶

Using two-sample t-test looks appropriate for this data set since there are two population means that are equal (if two population means are equal the two-sample t-test is used to determine if two population means are equal.)

Yes Central limit theory apllies, because sample size is larger than 30, independent and randomly selected

## Question 2-What are the null and alternate hypotheses?

Null Hyp: No difference between black people and white people regarding the call backs
Alt. Hyp: There is a difference

## Question 3: Compute margin of error, confidence interval, and p-value. Try using both the bootstrapping and the frequentist statistical approaches.

In [14]:
# Your solution to Q3 here
# black and white sample size
b = len(data[data['race'] == 'b']) 
w = len(data[data['race'] == 'w']) 
b, w

(2435, 2435)

In [6]:
# callbacks for black and white names
b_c = sum(data[data.race=='b'].call)
w_c = sum(data[data.race=='w'].call)

In [7]:
#callback rates for black and white names
b_r = (b_c/b)
w_r = (w_c/w)

In [8]:
# two sample test:
p = (b*b_r+w*w_r)/(b+w) 
std= math.sqrt(p*(1-p)*((1/b)+(1/w))) 

test_statistic = (b_r-w_r)/std
p_value = stats.t.sf(abs(test_statistic), df=len(data)-1)*2

print('test statistic:',test_statistic)
print('p_value:',p_value)

test statistic: -4.108412152434346
p_value: 4.0493178875903686e-05

In [9]:
# For calculating variance:
variance_b = (b_r*(1-b_r)/b)
variance_b

2.4771737856498466e-05

In [10]:
variance_w = w_r*(1-w_r)/w
variance_w

3.580911983304638e-05

In [11]:
# Margins of error and difference of std dist
b_std_e = math.sqrt(variance_b)
w_std_e = math.sqrt(variance_w) 
stderr_diff = math.sqrt((b_std_e**2 + w_std_e**2)) 
print(stderr_diff)

0.0077833705866767544

In [12]:
samp_difference=abs(b_r-w_r)
marg_of_error=1.96*stderr_diff # 1.96 z value
marg_of_error

0.015255406349886438

In [13]:
confidence_min = samp_difference - marg_of_error
confidence_max = samp_difference+ marg_of_error
print(confidence_min, confidence_max)

0.016777447859559147 0.047288260559332024

Margin of error is 0.015255406349886438. 

The 95% confidence interval is: 0.016777447859559147 and 0.047288260559332024.

p-value is 4.0493178875903686e-05

## Question 4: Write a story describing the statistical significance in the context or the original problem.

We calculated the p value as 4.0493178875903686e-05, which is lower than 0.05. Thus, null hypothesis 'there is no difference between black people and white people regarding the call backs ' should be rejected and alternate hypothesis is accepted. Regarding the statistical data, there is a difference between black and white resumes call backs

## Question 5: Does your analysis mean that race/name is the most important factor in callback success? Why or why not? If not, how would you amend your analysis?

We can not say race/name is the most important factor in callback success. Yes, it is a factor but we can not say the most important factor. For testing this hypothesis (race/name is the most important factor in callback success), Correlation between columns should be measured, we need to compare all the columns with the call back success to see the effects of other factors.